<div class="row">
  <div class="col-auto">
    <h2 class="welcome-text titles">WELCOME, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3 class="welcome-text titles">CREATE A NEW REVIEW:<h3>

    <form class="form new-review-form">
      <div class="form-group">
        <label for="review-name">Movie title:</label><br />
        <input
          class="form-input"
          type="text"
          id="review-name"
          name="review-name"
        />
      </div>

      <div id="rater"></div>

      <div class="form-group">
        <label for="review-desc">Review:</label><br />
        <textarea
          class="form-input"
          id="review-desc"
          name="review-desc"
        ></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-salmon">Create</button>
      </div>
    </form>
  </div>

  {{#if reviews.length}}
  <div class="col-md-6 review-list">
    <h3 class="titles" id="current-reviews">CURRENT REVIEWS:</h3>
    {{#each reviews as |review|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h5>
          <a href="/review/{{ review.id }}">{{ review.name }}</a>
        </h5>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-salmon" data-id="{{review.id}}">Delete</button>
        <a href="/dashboard/edit/{{review.id}}"><button class="btn btn-sm btn-secondary">Edit</button></a>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>

<script src="/js/bundleEdit.js"></script>
