<div class="container">
  <div class="row card">
    <h2 class="titles pinkTxt">{{ name }}</h2>
    <p class="pt-2 text-right titles">
      Posted by {{ user.name }} on {{format_date date_created}}
    </p>
    <div id="rater" data-rating="{{ rating }}"></div>
    <p class="text-dark">{{ description }}</p>
  </div>

  <br />

  <div class="row">
    <div class="col-md-8 titles">
      <p>COMMENTS:</p>
      {{> comments comments}}
    </div>
  </div>
  <br />
  {{#if logged_in}}
  <form class="row comment-form">
    <div class="form-group p-2 col-md-8">
      <textarea
        rows="3"
        cols="50"
        class="form-input"
        id="comment-text"
        name="comment-text"
      ></textarea
      ><br />
      <button type="submit" class="btn btn-salmon">Add Comment</button>
    </div>
  </form>
  {{/if}}
</div>

<script src="/js/comment.js"></script>

<script src="/js/bundleReview.js"></script>
